body {
  width: 100%;
  font-family: 'avatar-font', Arial, Avenir;
  margin: auto;
  background-color: linen;
  text-align: center;
}

@font-face {
  font-family: avatar-font;
  src: url(herculanum-1.ttf);
}

header {
  text-align: center;
  margin: 20px;
}

p {
  font-weight: bold;
}

#health {
  background: green;
  width: 500px;
  height: 25px;
}

#scarecrow {
  background: green;
  width: 500px;
  height: 25px;

}

#sketch {
  display: flex;
  justify-content: center;
}

footer {
  font-style: italic;
  font-size: 10px;
}